.review
  display: flex
  justify-content: center
  align-items: stretch
  width: 100%
  min-height: 100vh
  flex-shrink: 0
  border-top: 2px solid clrBgDscrp
  background: clrMain
  padding-top: 80px
  &__content
    width: 100%
    max-width: widthContent
    display: flex
    flex-direction: column
    justify-content: center
    align-items: stretch
  &__wrapper
    margin-top: 2%
    display: flex
    flex-wrap: wrap
    width: 75%
    align-self: center
  &__title
      margin-top: 4%
  &__info
    padding: 10px
  &__form
    flex-grow: 1
    padding: 10px 20px

/* Tablet - Mobile */
@media only screen and (min-width: tabletMobile-min) and (max-width: tabletMobile-max)
  .review__wrapper
    width: 100%
  .review__form
    padding: 10px 5px

/* Tablet */
@media only screen and (min-width: tablet-min) and (max-width: tablet-max)
  .review__wrapper
    width: 75%
  .review__form
    padding: 10px

/* Mobile */
@media only screen and (min-width: mobile-min) and (max-width: mobile-max)
  .review__wrapper
    width: 100%
  .review__form
    padding: 10px 5px

