include ./../b-title/b-title
include ./../b-info/b-info
include ./../b-form/b-form

mixin b-review()
  section.review
    .review__content
      .review__title
        block b-title
          +b-title({
            "title": "Оставьте отзыв",
            "dscrp": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla ducimus distinctio, nostrum natus sint neque ipsa repellendus minus"
          })
      .review__wrapper
        .review__info
          block b-info
            +b-info()
        .review__form
          block b-form
            +b-form()
          