.header-line
  position: fixed
  top: 0
  left: 0
  z-index: 10
  width: 100%
  height: heightHeadLine
  background-color: clrContrast
  transition: all .5s linear
  &__content
    max-width: widthContent
    height: 100%
    margin: 0 auto
    display: flex
    justify-content: space-between
    align-items: center
  &__address
    width: 15%
    min-width: 170px
  &__logo
    width: 15%
    min-width: 170px
  &__nav
    width: 70%
    display: flex
    align-self: stretch
  &__icon-menu
    display: none
    margin: 20px
    sprite($s-menu)
  &__icon-search
    display: none
    margin: 20px
    sprite($s-search)
  &__icon-close
    display: none
    margin: 20px
    sprite($s-close)

@media only screen and (max-width: 1400px)
  .header-line__logo
    padding-left: 10px

@media only screen and (min-width: tabletMobile-min) and (max-width: tabletMobile-max)
  .header-line
    height: heightHeadLineScroll !important
    &__logo
      flex-grow: 1
    &__nav
      width: auto
      order: 2
      height: auto
    &__address
      width: auto;
      min-width: inherit;
      order: 1
    &__icon-menu
      display: flex
      align-self: center
    &__icon-close
      align-self: center
    &__icon-search
      display: block