include ./../b-logo/b-logo
include ./../b-nav/b-nav
include ./../b-address/b-address

mixin b-header-line()
  .header-line
    .header-line__content
      .header-line__logo
        block b-logo
          +b-logo()
      nav.header-line__nav
        i.header-line__icon-menu.js-open-menu
        i.header-line__icon-close.js-close-menu
        block b-nav
          +b-nav()
      .header-line__address
        i.header-line__icon-search
        block b-address
          +b-address()