include ./../b-title/b-title

mixin b-grid-img()
  - var x = 6;
  .grid-img
    - for (var i = 1; i <= x; i++) {
      figure.grid-img__item
        img.grid-img__img(src="./b-grid-img/b-grid-img/lily.jpg", alt="Img grid-item")
        figcaption.grid-img__item-dscrp
          block b-title
            +b-title({
            "title": "Название работы",
            "dscrp": "Описание работы"
          })
    - }
