.grid-img
  display: flex
  justify-content: space-between
  align-content: space-between
  flex-wrap: wrap
  width: 95%
  margin: 4% auto
  &__item
    position: relative
    width: 32%
    margin-right: 2%
    margin-bottom: 2%
    overflow: hidden
    cursor: pointer
    &:nth-child(3n)
      margin-right: 0
    &:hover .grid-img__item-dscrp
      bottom: 0
      transition: all .3s linear
  &__img
    width: 100%
    background: clrContrast
  &__item-dscrp
    position: absolute
    bottom: -50%
    left: 0
    width: 100%
    background: clrBgDscrp
    padding: 4% 10%
    transition: all .3s linear
    & .title
      font: bold 1rem 'Arial', sans-serif
      text-align: left
      letter-spacing: 0
      &:after
        margin: 4% 0
    & .dscrp
      font-size: .8rem
      text-transform: uppercase
      margin: 0
      width: auto
      text-align: left


/* Tablet - Mobile */
@media only screen and (min-width: tabletMobile-min) and (max-width: tabletMobile-max)
  .grid-img__item
    width: 100%
    &:nth-child(n)
      margin-right: 0

/* Tablet */
 @media only screen and (min-width: tablet-min) and (max-width: tablet-max)
  .grid-img__item
    width: 49%
    &:nth-child(2n)
      margin-right: 0

/* Mobile */
@media only screen and (min-width: mobile-min) and (max-width: mobile-max)
  .grid-img__item
    width: 100%
    &:nth-child(n)
      margin-right: 0
