mixin b-info()
  - var fields = {'Наш адрес': 'г.Минск, ул. Скрыганова, 6А, 4 этаж', 'Звоните': '+375 (29) 123-45-67, +375 (33) 123-45-67', 'Пишите': 'info@promo-webcom.by'}
  .info
    each item, key in fields
      .info__item
        p.info__title= key
        p.info__dscrp= item