.info
  display: flex
  flex-direction: column
  &__item
    margin-bottom: 10px
    text-align: left
  &__title
    font: bold 1.5rem 'Arial', sans-serif
    text-transform: uppercase
    color: clrTextAccent
  &__dscrp
    font: 1rem 'Arial', sans-serif
    color: clrTextDscrp2
    margin: 10px 0