.nav
  display: flex
  justify-content: center
  align-items: stretch
  width: 100%
  &__item
    width: 15%
    margin-right: 2%
    border-bottom: 4px solid transparent
    &:last-of-type
      margin-right: 0
    &:hover
      border-bottom-color: clrAccent
    &--active
      border-bottom-color: clrAccent
      background-color: rgba(0, 0, 0, .5)
      .nav__link
        opacity: .5
  &__link
    color: clrTextMenu
    font: .9rem 'Tahome', sans-serif
    text-transform: uppercase
    height: 100%
    display: flex
    justify-content: center
    align-items: center

/* Tablet - Mobile */
@media only screen and (min-width: tabletMobile-min) and (max-width: tabletMobile-max)
  .nav
    flex-direction: column
    width: 70%
    position: absolute
    right: 0
    opacity: .95
    top: heightHeadLineScroll
    background: clrContrast
    z-index: 100000
    display: none
    &__item
      width: 100%
      height: auto
      border-bottom: 1px solid clrAccent

/* Tablet */
@media only screen and (min-width: tablet-min) and (max-width: tablet-max)
  .nav
    width: 40%
    &__link
      padding: 20px 0

/* Mobile */
@media only screen and (min-width: mobile-min) and (max-width: mobile-max)
  .nav
    height: calc(100vh - 80px)
    justify-content: space-around
    &__item
      flex-grow: 1
      display: flex
      flex-direction: column
    &__link
      flex-basis: 100px
