@import './assets/_base/css/var'
@import './assets/_base/css/mixins'
@import './assets/_base/css/fonts'
@import './assets/_base/css/reset'
@import './assets/_base/css/swiper.css'
@import './b-header/b-header'
@import './b-header-line/b-header-line'
@import './b-address/b-address'
@import './b-logo/b-logo'
@import './b-nav/b-nav'
@import './b-swiper/b-swiper'
@import './b-hr/b-hr'
@import './b-title/b-title'
@import './b-portfolio/b-portfolio'
@import './b-grid-img/b-grid-img'
@import './b-advantages/b-advantages'
@import './b-grid/b-grid'
@import './b-review/b-review'
@import './b-info/b-info'
@import './b-form/b-form'
@import './b-footer/b-footer'
@import './b-order/b-order'

::selection
  color: clrTextTitle
  background: clrAccent
::-moz-selection
  color: clrTextTitle
  background: clrAccent

html,body
  font-size: 16px
  height: 100%
  width: 100%
  min-width: 320px

@media only screen and (max-width: 1330px)
  html,body
    font-size: 14px