include ./head/head
include ./b-header/b-header
include ./b-header-line/b-header-line
include ./b-portfolio/b-portfolio
include ./b-advantages/b-advantages
include ./b-review/b-review
include ./b-footer/b-footer
include ./b-order/b-order

doctype html
html(lang="en")
  block head
    head
      +head({
        "title": "TestWebcom",
        "author": "Kostenich Vladimir",
        "description": "keywords :)"
      })
  body
    .swiper-container.swiper-container-v
      block b-header-line
        +b-header-line()
      .swiper-wrapper
        .swiper-slide(data-hash="general")
          block b-header
            +b-header()
        .swiper-slide(data-hash="portfolio")
          block b-portfolio
            +b-portfolio()
        .swiper-slide(data-hash="advantages")
          block b-advantages
            +b-advantages()
        .swiper-slide(data-hash="review")
          block b-review
            +b-review()
        .swiper-slide(data-hash="footer")
          block b-footer
            +b-footer()
      .swiper-pagination.swiper-pagination-v

      //- Popup-order: Used: on the main page (index.html) Need: for making a request order

      block b-order
        +b-order()
    script(src='./assets/js/lib.js')
    script(src='./assets/js/script.js')
