include ./../b-title/b-title

mixin b-order()
  .order
    .order__item
      button.order__btn-close.js-close-popup x
      .order__title
        block b-title
          +b-title({
            "title": "Заявка",
            "dscrp": "Оформите заявку, и с Вами свяжутся"
          })
      form.order__form-request
        fieldset.order__fieldset
          label.order__label Ваше имя
          input.order__input-text(type = 'text' required placeholder = 'Иван' name = 'userName')
          label.order__label Номер телефона
          input.order__input-text(type='text' pattern='[\+]375[0-9]{9}' placeholder = '+375291234567' name = 'userPhone')
          label.order__label Сообщение
          textarea.order__textarea(placeholder = 'Введите сообщение' name = 'userMessage')
        input.order__btn(type = 'reset' value = 'Очистить')
        input.order__btn(type = 'submit' value = 'Отправить')
    .overflow