.order
  text-align: center
  display: none
  &__item
    display: flex
    flex-direction: column
    width: 300px
    position: absolute
    top: 20%
    left: 50%
    margin-left: -(@width / 2)
    border: 2px solid clrAccent
    border-radius: 5px
    padding: 30px 10px
    background: clrMain
    z-index: 40
  &__form-request
    margin-top: 5%
    text-align: center
  &__fieldset
    margin-bottom: 10px
    display: flex
    flex-direction: column
  &__btn
    background: clrAccent
    color: clrTextBtn
    text-transform: uppercase
    text-align: center
    font: 1rem 'Arial', sans-serif
    border-radius: 5px
    text-align: center
    padding: 5px 0
    width: 45%
    &:hover
      cursor: pointer
  &__btn-close
    position: absolute
    top: 10px
    right: 10px
    text-align: center
    text-transform: uppercase
    border-radius: 50%
    background: rgb(0, 0, 0,)
    opacity: .5
    color: clrTextBtn
    width: 40px
    height: 40px
    line-height: 40px
    transition: all .2s linear
    &:hover
      cursor: pointer
      opacity: 1
  &__label
    font: 1.3rem 'Arial', sans-serif
    text-transform: uppercase
    color: clrTextTitle
    text-align: left
  &__input-text
    font: italic 1rem 'Arial', sans-serif
    color: clrTextDscrp2
    border-bottom: 1px solid clrTextDscrp2
    margin: 10px 0
    width: 100%
    &:focus
      border-color: clrAccent
  &__textarea
    font: italic 1rem 'Arial', sans-serif
    color: clrTextDscrp2
    border-bottom: 1px solid clrTextDscrp2
    margin: 10px 0
    width: 100%
    resize: none
    &:focus
      border-color: clrAccent
.overflow
  position: fixed
  z-index: 30
  top: 0
  right: 0
  bottom: 0
  left: 0
  background: rgba(0, 0, 0, .7)
