.title
  font: 1.9rem 'Arial', sans-serif
  letter-spacing: .4em
  text-align: center
  text-transform: uppercase
  color: clrTextTitle
  &:after
    content: ''
    display: block
    margin: 2% auto 0
    sprite($s-separator)
.dscrp
  font: 1rem 'Arial', sans-serif
  width: 45%
  text-align: center
  color: clrTextDscrp1
  margin: 2% auto 0

/* Tablet - Mobile */
@media only screen and (min-width: tabletMobile-min) and (max-width: tabletMobile-max)
  .dscrp
    width: 95%
