mixin head(data)
  title= data.title
  meta(charset="utf-8")
  
  meta(content=data.author name="author")
  meta(content=data.description name="description")
  
  meta(name="viewport" content="width = device-width, initial-scale = 1.0, maximum-scale = 1.0, user-scalable = no")
  meta(content="IE=edge" http-equiv="X-UA-Compatible")

  link(href="./assets/img/favicon/favicon.png" rel="shortcut icon" type="image/x-icon")
  link(rel="apple-touch-icon", href="img/favicon/apple-touch-icon.png")

  link(rel="stylesheet" href="./styles.css")
