include ./../b-grid-img/b-grid-img
include ./../b-title/b-title

mixin b-portfolio()
  section.portfolio
    .portfolio__bg
    .portfolio__content
      .portfolio__title
        block b-title
          +b-title({
            "title": "Наша работа",
            "dscrp": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla ducimus distinctio, nostrum natus sint neque ipsa repellendus minus"
          })
      .portfolio__grid-img
        block b-grid-img
          +b-grid-img()
