.portfolio
  display: flex
  justify-content: center
  align-items: stretch
  width: 100%
  min-height: 100vh
  flex-shrink: 0
  padding-top: 80px
  &__bg
    position: fixed
    bottom: 0
    left: 0
    z-index: -1
    width: 100%
    height: 100%
    background: url(./b-portfolio/portfolio-bg-min.jpg) center center
    background-size: cover
    filter: brightness(1.2) sepia(20%)
  &__content
    width: 100%
    max-width: widthContent
    display: flex
    flex-direction: column
    justify-content: center
    align-items: stretch
  &__title
    margin-top: 4%
