.advantages
  display: flex
  justify-content: center
  align-items: stretch
  width: 100%
  min-height: 100vh
  flex-shrink: 0
  border-top: 2px solid clrBgDscrp
  background: clrMain
  padding-top: 80px
  &__content
    width: 100%
    max-width: widthContent
    display: flex
    flex-direction: column
    justify-content: center
    align-items: stretch
  &__title
    margin-top: 4%