include ./../b-title/b-title
include ./../b-grid/b-grid

mixin b-advantages()
  section.advantages
    .advantages__content
      .advantages__title
        block b-title
          +b-title({
          "title": "Почему мы",
          "dscrp": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla ducimus distinctio, nostrum natus sint neque ipsa repellendus minus"
        })
      .advantages__grid
        block b-grid
          +b-grid()