mixin b-grid()
  - var icons = {1: 'monitor', 2: 'magic', 3: 'rocket', 4: 'globe', 5: 'settings', 6: 'layers', 7: 'wrench', 8: 'note'}
  .grid
    each item, index in icons
      div(class = 'grid__item grid__item--icon-' + item)
        .grid__title= 'Преимущество ' + index
        .grid__dscrp= 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque delectus quam perferendis'