.grid
  display: flex
  flex-wrap: wrap
  justify-content: center
  &__item
    flex-basis: 320px
    &:before
      content: ''
      display: block
      margin: 5% auto
    &--icon-monitor:before
      sprite($s-monitor)
    &--icon-magic:before
      sprite($s-magic)
    &--icon-rocket:before
      sprite($s-rocket)
    &--icon-globe:before
      sprite($s-globe)
    &--icon-settings:before
      sprite($s-settings)
    &--icon-layers:before
      sprite($s-layers)
    &--icon-wrench:before
      sprite($s-wrench)
    &--icon-note:before
      sprite($s-note)
  &__title
    color: clrTextTitle
    text-transform: uppercase
    text-align: center
    font: bold 1rem 'Arial', sans-serif
    line-height: 2
  &__dscrp
    font: 1rem 'Arial', sans-serif
    line-height: 2
    text-align: center
    color: clrTextDscrp1
    margin-top: 2%
    padding: 0 5%
