include ./../b-swiper/b-swiper

mixin b-header()
  header.header
    .header__swiper
      block b-swiper
        +b-swiper()
      button.header__btn-down
        a.header__link(href='#portfolio')
        i.header__icon-down
