.header
  width: 100%
  min-height: 100vh
  display: flex
  flex-direction: column
  flex-shrink: 0
  &__swiper
    border-bottom: 4px solid clrAccent 
    display: flex
    align-items: stretch
    flex: 1 0 300px
    max-height: 1366px
  &__btn-down
    width: 50px
    height: 50px
    background-color: rgba(0,0,0,1)
    border-radius: 50%
    position: absolute
    z-index: 10
    bottom: 5%
    left: 50%
    margin-left: -(@width / 2)
    opacity: .5
    display: flex;
    justify-content: center
    align-items: center
    &:hover
      opacity: .8
      cursor: pointer
      transition: all .3s linear
  &__link
    height: 100%
    width: 100%
    position: absolute
    top: 0
    left: 0
  &__icon-down
    display: block
    sprite($s-down-arrow)

@media only screen and (min-width: tabletMobile-min) and (max-width: tabletMobile-max)
  .header
    &__btn-down
      bottom: 10%
      display: none
    
/* Tablet */
@media only screen and (min-width: tablet-min) and (max-width: tablet-max)
  .header__btn-down
    bottom: 5%
    display: flex

/* Mobile */
@media only screen and (min-width: mobile-min) and (max-width: mobile-max)
  .header__btn-down
    bottom: 10%

/* Mobile iPhone 6 and 6 plus */
@media only screen and (min-width: iphone6-min) and (max-width: iphone6-max)
  .header__btn-down
    bottom: 5%

/* Mobile iPhone 5 */
@media only screen and (min-width: iphone5-min) and (max-width: iphone5-max)
  .header__btn-down
    bottom: 10%
    display: flex

@media only screen and (min-width: iphone5-min) and (max-width: iphone5-max) and (orientation: portrait)
  .header__btn-down
    bottom: 5%
    display: flex
