mixin b-form()
  - var fieldsets = {'Ваше имя': 'Иванов Иван', 'e-mail': 'example@mysite.com', 'Ваша должность': 'должность'}
  form.form#form
    each item, key in fieldsets
      fieldset.form__fieldset
        ladel.form__label= key
        input.form__input-text(type='text' required placeholder= item)
    fieldset.form__fieldset
      label.form__label Отзыв
      textarea.form__textarea(rows='4' requiared placeholder='Ваше сообщение')
    .form__fieldset.form__fieldset--file
      label.form__wrap-file
        input(type='file' class='form__file')
        span.form__btn.form__btn--file +
      label.form__label.form__label--file Фото
    fieldset.form__fieldset
      label.form__label Введите код с картинки
      input.form__input-text(type='text' requiared)
    .form__fieldset.form__fieldset--captcha
      .form__captcha
      input.form__btn.form__btn--submit(type='submit' value='Отправить')
      