.form
  display: flex
  flex-direction: column
  &__fieldset
    margin-bottom: 10px
    display: flex
    flex-direction: column
    &--file
      flex-direction: row
      align-items: center
    &--captcha
      flex-direction: row
      justify-content: space-between
  &__label
    font: bold 1.5rem 'Arial', sans-serif
    text-transform: uppercase
    color: clrTextTitle
    text-align: left
    &--file
      margin-left: 20px
  &__input-text
    font: italic 1rem 'Arial', sans-serif
    color: clrTextDscrp2
    border-bottom: 1px solid clrTextDscrp2
    margin: 10px 0
    width: 100%
    &:focus
      border-color: clrAccent
  &__textarea
    font: italic 1rem 'Arial', sans-serif
    color: clrTextDscrp2
    border-bottom: 1px solid clrTextDscrp2
    margin: 10px 0
    width: 100%
    resize: none
    &:focus
      border-color: clrAccent
  &__wrap-file
    height: 60px
    width: 60px
    position: relative
    overflow: hidden
  &__file
    visibility: hidden
    height: 60px
    width: 60px
    position: absolute
    z-index: -1
    top: 0
  &__captcha
    display: block
    sprite($s-captcha)
  &__btn
    background: clrAccent
    color: clrTextBtn
    text-transform: uppercase
    text-align: center
    font: 1rem 'Arial', sans-serif
    border-radius: 5px
    &:hover
      cursor: pointer
    &--submit
      padding: 1em 3em
    &--file
      display: flex
      justify-content: center
      align-items: center
      font-size: 2rem
      width: 60px
      height: 60px
      position: absolute
      z-index: 1
      top: 0
