include ./../b-hr/b-hr

mixin b-swiper()
  .swiper-container.swiper-container-h
    .swiper-wrapper
      - var x = 5
      - for(var i = 1; i <= x; i++) {
      div(class='swiper-slide swiper-slide--item' + i) 
        .swiper-slide__content
          .swiper-slide__wrapper
            h1.swiper-slide__title Главный заголовок #{i}
            .swiper-slide__hr
              block b-hr
                +b-hr()
            p.swiper-slide__dscrp Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis qui dolorum fugiat nihil ipsam quos, facere vel. Aliquid, maxime impedit ex consequuntur deleniti eveniet sint laudantium vero porro. Explicabo, blanditiis.
          button.swiper-slide__btn.js-open-popup-order Оформить заявку
      - }
    .swiper-button-prev
    .swiper-button-next
    .swiper-pagination
