  .swiper-container
    width: 100%
    height: 100%
  .swiper-container-h
    width: 100%
    height: auto
  .swiper-slide
    text-align: center
    &__content
      display: flex
      flex-direction: column
      align-items: center
      justify-content: space-around
      min-height: calc(93% - 60px)
      width: 70%
      max-width: 940px
      margin: 2em auto 0
    &__title
      font: bold 2rem 'Arial', sans-serif
      width: 85%
      letter-spacing: 1rem
      text-align: center
      text-transform: uppercase
      color: clrContrast
      margin: 5% auto 0
    &__hr
      width: 85%
      margin: 5% auto 0
    &__dscrp
      margin: 5% auto 0
      font: 1rem 'Arial', sans-serif
      text-transform: uppercase
      color: clrContrast
      width: 80%
      min-width: 300px
    &__btn
      border-radius: 5px
      font: bold 1rem 'Arial', sans-serif
      text-transform: uppercase
      background: clrAccent
      color: clrTextBtn
      padding: 1em
      &:hover
        cursor: pointer
    &--item1
      background: url(./b-swiper/slide-bg-min.jpg) center center no-repeat
      background-size: cover
    &--item2
      background: url(./b-swiper/slide-bg-min1.jpg) center center no-repeat
      background-size: cover
    &--item3
      background: url(./b-swiper/slide-bg-min.jpg) center center no-repeat
      background-size: cover
    &--item4
      background: url(./b-swiper/slide-bg-min1.jpg) center center no-repeat
      background-size: cover
    &--item5
      background: url(./b-swiper/slide-bg-min.jpg) center center no-repeat
      background-size: cover
    .swiper-container-horizontal > .swiper-pagination-bullets
      bottom: calc(7% + 50px)
  .swiper-container-v>.swiper-wrapper>.swiper-slide
    height: auto

@media only screen and (min-width: 1400px)
  .swiper-button-next
    right: 50%
    margin-right: -(widthContent / 2 - 90px)
  .swiper-button-prev
    left: 50%
    margin-left: -(widthContent / 2 - 90px)

/* Tablet - Mobile */
@media only screen and (min-width: tabletMobile-min) and (max-width: tabletMobile-max)
  .swiper-button-next
    right: 10px
  .swiper-button-prev
    left: 10px
  .swiper-slide__content
    width: 95%
  .swiper-slide__title
    font-size: 1.4rem
    letter-spacing: 0
  .swiper-slide__dscrp
    min-width: 240px

/* Tablet */
@media only screen and (min-width: tablet-min) and (max-width: tablet-max)
  .swiper-slide__content
    width: 90%
  .swiper-slide__title
    font-size: 1.8rem
    letter-spacing: 1rem
  .swiper-slide__dscrp
    font-size: 1.4rem

/* Mobile */
@media only screen and (min-width: mobile-min) and (max-width: mobile-max)
  .swiper-slide__title
    font-size: 1.4rem
    letter-spacing: 1rem
    margin-top: 2%
  .swiper-slide__hr
    margin-top: 2%
  .swiper-slide__dscrp
    margin-top: 2%
    font-size: .7rem
  .swiper-slide__btn
    margin-top: 2%

@media only screen and (min-width: mobile-min) and (max-width: mobile-max) and (orientation: portrait)
  .swiper-slide__content
    justify-content: space-around
  .swiper-slide__title
    margin-top: 5%
  .swiper-slide__hr
    margin-top: 5%
  .swiper-slide__dscrp
    margin-top: 5%
    font-size: 1rem
  .swiper-slide__btn
    margin-top: 5%

/* Mobile iPhone 6 and 6 plus */
@media only screen and (min-width: iphone6-min) and (max-width: iphone6-max)
  .swiper-slide__content
    justify-content: flex-start
  .swiper-slide__title
    margin-top: 10%
  .swiper-slide__hr
    margin-top: 5%
  .swiper-slide__dscrp
    margin-top: 5%
    font-size: 1rem
  .swiper-slide__btn
    margin-top: 10%

@media only screen and (min-width: iphone6-min) and (max-width: iphone6-max) and (orientation: portrait)
  .swiper-slide__content
    justify-content: space-around
  .swiper-slide__title
    margin-top: 5%
  .swiper-slide__hr
    margin-top: 5%
  .swiper-slide__dscrp
    margin-top: 5%
    font-size: 1rem
  .swiper-slide__btn
    margin-top: 5%

/* Mobile iPhone 5 */
@media only screen and (min-width: iphone5-min) and (max-width: iphone5-max)
  .swiper-slide__content
    justify-content: flex-start
  .swiper-slide__title
    margin-top: 10%
    font-size: 1rem
    letter-spacing: 1em 
  .swiper-slide__hr
    margin-top: 2%
  .swiper-slide__dscrp
    margin-top: 2%
    font-size: .7rem
  .swiper-slide__btn
    margin-top: 2%

@media only screen and (min-width: iphone5-min) and (max-width: iphone5-max) and (orientation: portrait)
  .swiper-slide__content
    justify-content: space-around
  .swiper-slide__title
    margin-top: 5%
  .swiper-slide__hr
    margin-top: 5%
  .swiper-slide__dscrp
    margin-top: 5%
    font-size: 1rem
  .swiper-slide__btn
    margin-top: 5%




