.hr
  display: flex
  justify-content: space-between
  align-items: center
  &__line-before
    width: 40%
    height: 2px
    background: clrContrast
  &__rectangle
    width: 10px
    height: 10px
    background: clrContrast
    transform: rotateZ(45deg)
  &__line-after
    width: 40%
    height: 2px
    background: clrContrast