.address
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  &__btn
    display: none
  &__link
    display: block
    color: clrTextAccent
    font: bold 1rem 'Tahome', sans-serif
    margin-bottom: 20px
    &:last-of-type
      margin-bottom: 0
  &__btn
    border: 1px solid clrAccent
    border-radius: 5px
    background: none
    color: clrTextAccent
    text-transform: uppercase
    padding: 1em
    transition: all .2s ease-in
    &:hover
      cursor: pointer
      background: clrAccent
      color: clrTextBtn

@media only screen and (min-width: tabletMobile-min) and (max-width: tabletMobile-max)
  .address
    display: none