mixin b-address()
  .address
    button.address__btn.js-open-popup-order Оформить заявку
    .address__item
      a(href="tel:+375291236712").address__link +375 (29) 123 67 12
      a(href="tel:+375291236712").address__link +375 (29) 123 67 12