mixin b-footer()
  footer.footer
    .footer__btn-up(data-action='scroll-up')
      a(href="#general").footer__link.footer__link--up
    .footer__info
      .footer__content
        .footer__item.footer__item--logo
          .footer__logo
            block b-logo
              +b-logo()
          i.footer__icon-separator
          p.footer__dscrp Дисклеймер компании
        .footer__item.footer__item--social
          .footer__title Мы в соцсетях
          i.footer__icon-separator
          - var iconsSoc = {instagram: 'https://www.instagram.com/webcomMedia', twitter: 'https://www.twitter.com/webcom_media', facebook: 'https://www.facebook.com/WebcomMedia'}
          ul.footer__social
            each item, key in iconsSoc
              li.footer__social-item
                a(href=item class='footer__link footer__link--' + key)
        .footer__item.footer__item--address
          .footer__title Адрес
          i.footer__icon-separator
          .footer__dscrp г. Минск, ул. Скрыганова, 6А, 4 этаж
    .footer__line
      p.footer__copy Copyrigts 2015 &copy webcom media