/*@font-face
  font-family: "Lato"
  src: url("../fonts/Lato/Lato-Medium.ttf")
  font-style: normal
  font-weight: 500

@font-face
  font-family: "Lato"
  src: url("../fonts/Lato/Lato-Heavy.ttf")
  font-style: normal
  font-weight: 900
*/